body {
  margin-top: -10px;
}

body * {
  height: inherit;
  width: inherit;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

.reversi {
  width: 512px;
  margin: 0 auto;
}

.square {
  width: 60px;
  height: 60px;
  float: left;
  background-color: green;
  margin: 2px;
  cursor: pointer;
}

.square.occupied {
  cursor: default;
}

.piece {
  border-radius: 50%;
}

.piece.black {
  background-color: black;
}

.piece.white {
  background-color: white;
}

.reversi-board {
  background-color: black;
  padding: 2px;
  border: solid 10px #B48D51;
}

.reversi-messages {
  height: 100px;
  text-align: center;
  font-family: sans-serif;
  font-size: 48px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
